[Unit]
Description=CeleryWorker instance for TG Bot
After=network.target

[Service]
User=root
Group=root
Type=idle

WorkingDirectory=/home/channelparser
EnvironmentFile= /home/channelparser/bot.env
ExecStart=/home/channelparser/venv/bin/celery -A main worker --loglevel=INFO
#Restart=always


[Install]
WantedBy=multi-user.target
